body {
    
    background-image: url('https://th.bing.com/th?id=OIF.avjPGvLx%2f9J6CJR0MvroyQ&w=216&h=180&c=7&r=0&o=5&pid=1.7');
    background-size: 1500px 1300px;
    background-repeat: no-repeat; 

}